body {
    background-color: #F5F5F5;
    font-family: 'Arial', sans-serif;
}

/* banner */
.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
    background-color: #e7f3ff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.banner-slide {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-slide.active {
    display: block;
    opacity: 1;
}

.banner-slide img {
    width: 100%;
    height: auto;
}

.banner-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.banner-controls button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.banner-controls button:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* categories (Lazmall + RedMart + Vouchers) */
.categories {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 40px;
}

.category-item {
    display: flex;
    width: 30%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px #ddd;
    margin-right: 10px;
}

.category-item img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.voucher {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.voucher img {
    margin-left: 220px;
    margin-top: -90px;
    width: 125px;
}

.lazmall-logo {
    margin-left: 200px;
    margin-top: -30px;
}

.redmart-logo {
    margin-left: 200px;
    margin-top: -100px;
}

.voucher-text {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lazmall-text p:hover {
    color: #c5040b;
}

.redmart-text p:hover {
    color: #ee4054;
}

.voucher-text p:hover {
    color: #f58523;
}

.lazmall-text, .redmart-text, .voucher-text {
    color: black;
    text-decoration: none;
}

.category-item.lazmall, .category-item.redmart, .category-item.voucher {
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 10px;
}

.category-item.voucher h1 {
    font-size: 40px;
}

/* listings */
.listings-head {
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #888;
    margin-left: 60px;
}

.listings {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 40px;
}

.listing-item {
    display: block;
    width: 250px;
    height: 360px;
    padding: 15px;
    background-color: white;
    text-decoration: none;
}

.listing-item:hover {
    box-shadow: 0 8px 16px lightgray;
}

.listing-item img {
    width: 249px;
    height: 250px;
    margin-top: -15px;
    margin-left: -15px;
}

.listing-content h1,
.listing-content a {
    font-weight: normal;
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: -4px;
}

.listings h1:hover {
    color: darkcyan;
 }

.listing-content h2 {
    font-weight: normal;
    font-size: 16px;
    color: #f5762a;
    margin-top: -10px;
}

.listing-content h3 {
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.listing-content h3 img {
    width: 80px;
    height: auto;
    margin-left: 50px;
    margin-top: -40px;
}

.listing-content h4 {
    font-weight: normal;
    margin-left: 190px;
    margin-top: -30px;
    font-size: 10px;
    color: #888;
}

/* media queries */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        width: 100%;
    }

    .categories {
        flex-direction: column;
        padding: 10px;
    }

    .category-item {
        width: 100%;
        margin-bottom: 15px;
    }

    .listings {
        flex-direction: column;
        padding: 10px;
    }

    .listing-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 5px 10px;
    }

    .logo img {
        width: 100px;
    }

    .banner {
        height: 140px;
    }

    .categories {
        padding: 5px;
    }

    .category-item {
        padding: 10px;
    }

    .listings {
        padding: 5px;
    }

    footer {
        font-size: 12px;
        padding: 20px 5px;
    }

    .listing-content h1, .listing-content h2 {
        font-size: 12px;
    }
}
